body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Raleway';
    font-size: calc(3em + 3vw);
    font-weight: 300;
}

.subtitle {
    font-family: 'Raleway';
    font-size: calc(12px + 1vw);
    font-weight: 200;
}

.portfolio {
    font-family: 'Raleway';
    color: black;
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: 200;
}

.strip {
    min-height: 350px;
    background-color: #333;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.id_telem {
    color: rgb(222,36,46);
}

h2, h5 {
    color: rgb(222,36,46);
}

.profileImage {
    border-radius: 50%;
}

.aboutMe {
    font-family: 'Raleway';
    font-size: 20px;
}


